html {
    font-size: 22px;
}

body {
    background-color: #fefae0;
    color: #283618;
}

nav,ul{
    background-color: #283618;
}

h1 {
    color: #fefae0;
    background-color:#283618;
}

h2{
    color:#fefae0
}


a {
    color: #f77f00;
}

a:visited {
    color:#f5ac00;;
}

a:hover,a:active {
    color: #f58f00;
}

table, tr, th, td, caption {
    border: 1px solid #eee;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}

.margin-bottom-1rem {
        margin-bottom: 1rem;
    }
